baseURL = "https://spixed.is-a.dev/"
title = "Spixed's Blog"
theme = "polymer"
defaultContentLanguage = "zh"
hasCJKLanguage = true
enableEmoji = true

[params]
  description = "A Digital Brutalism Theme"
  math = true
  mathEngine = "mathjax"
  favicon = "/site/logo.png"

  [params.waline]
    enable = true
    serverURL = "https://c.spixed.us.kg/"

[taxonomies]
  category = "categories"
  tag = "tags"

[languages]
  [languages.zh]
    languageName = '简体中文'
    contentDir = 'content/zh'
    weight = 1
    languageCode = "zh-CN"
  
  [languages.en]
    languageName = 'English'
    contentDir = 'content/en'
    weight = 2
    languageCode = "en-US"

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
    [markup.goldmark.extensions]
      [markup.goldmark.extensions.passthrough]
        enable = true
        [markup.goldmark.extensions.passthrough.delimiters]
          block = [['$$', '$$'], ['\\[', '\\]']]
          inline = [['$', '$'], ['\\(', '\\)']]
