baseURL = "https://spixed.is-a.dev/"
title = "Spixed's Blog"
theme = "polymer"
defaultContentLanguage = "zh"
hasCJKLanguage = true
enableEmoji = true

[params]
  description = "A Digital Brutalism Theme"
  math = true
  mathEngine = "mathjax"
  favicon = "/logo.png"

  [params.waline]
    serverURL = "https://c.spixed.us.kg/"

[taxonomies]
  category = "categories"
  tag = "tags"

[languages]
  [languages.zh]
    languageName = '简体中文'
    contentDir = 'content/zh'
    weight = 1
    languageCode = "zh-CN"
  
  [languages.en]
    languageName = 'English'
    contentDir = 'content/en'
    weight = 2
    languageCode = "en-US"

[menu]
  [[menu.main]]
    identifier = "home"
    name = "Home"
    url = "/"
    weight = 1
  [[menu.main]]
    identifier = "archives"
    name = "Archives"
    url = "/archives/"
    weight = 10
  [[menu.main]]
    identifier = "links"
    name = "Links"
    url = "/links/"
    weight = 20

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
    [markup.goldmark.extensions]
      [markup.goldmark.extensions.passthrough]
        enable = true
        [markup.goldmark.extensions.passthrough.delimiters]
          block = [['$$', '$$'], ['\\[', '\\]']]
          inline = [['$', '$'], ['\\(', '\\)']]
